{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"jsxSingleQuote": false,
  	"svelteSortOrder": "styles-scripts-markup",
  	"svelteStrictMode": true,
  	"svelteAllowShorthand": false
}
