@import 'tailwindcss';

@theme {
  --color-accent-color: #4ff0ba;
  --color-accent-color-lighter: #bef263;
  --color-background: #181a1a;
  --color-window-gray: #2c3441;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/*
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
*/
html {
	@apply bg-background text-slate-100;
}
a {
	@apply text-accent-color hover:text-accent-color-lighter;
}
body {
	@apply min-w-[450px];
}
h1 {
	@apply pb-3 text-2xl font-bold tracking-tight md:text-4xl;
}
h2 {
	@apply mt-4 text-xl font-bold tracking-tight md:text-2xl;
}
h3 {
	@apply mb-1 mt-3 text-lg font-bold tracking-tight;
}

h3.special {
	@apply m-0 text-sm font-normal text-slate-300;
}

h4 {
	@apply mt-2 italic tracking-tight;
}

h4.special {
	@apply m-0 text-slate-300;
}
pre {
	@apply mx-8 rounded-xl border-l-4 border-cyan-500 bg-neutral-800 p-4 text-sm;
}
p {
	@apply mt-2;
}

p.special {
	@apply mt-4;
}

ul {
	@apply mb-5 ml-10 list-disc;
}

code {
	@apply rounded-md bg-slate-600 p-0.5 text-sm;
}

input {
	@apply mt-1 w-full rounded-md border border-slate-300 bg-gray-600 px-3 py-2 text-sm placeholder-slate-400 shadow-xs invalid:border-pink-500 invalid:text-pink-600 focus:border-sky-500 focus:outline-hidden focus:ring-1 focus:ring-sky-500 focus:invalid:border-pink-500 focus:invalid:ring-pink-500 disabled:border-slate-200 disabled:bg-slate-50 disabled:text-slate-500 disabled:shadow-none;
}
textarea {
	@apply mt-1 h-32 w-full rounded-md border border-slate-300 bg-gray-600 px-3 py-2 text-sm placeholder-slate-400 shadow-xs focus:border-sky-500 focus:outline-hidden focus:ring-1 focus:ring-sky-500 disabled:border-slate-200 disabled:bg-slate-50 disabled:text-slate-500 disabled:shadow-none;
}

button {
	@apply rounded-full bg-emerald-500 px-6 py-2 text-base hover:bg-emerald-600 focus:outline-hidden active:bg-emerald-700;
}
img {
	@apply rounded-lg;
}

.window {
	@apply flex flex-col rounded-xl bg-window-gray;
}
